name: Backup Services
services:
  backrest:
    image: garethgeorge/backrest:latest
    container_name: backrest
    hostname: backrest
    network_mode: host
    volumes:
      - /configs/backrest/data:/data
      - /configs/backrest/config:/config
      - /configs/backrest/cache:/cache
      - /configs:/homelab_volumes:ro
      - ${BACKREST_REPO}:/repos
    environment:
      - BACKREST_DATA=/data
      - BACKREST_CONFIG=/config/config.json
      - XDG_CACHE_HOME=/cache
      - TMPDIR=/tmp
      - TZ=Asia/Kolkata
    ports:
      - 9898:9898
    restart: unless-stopped
