name: Backup Services
services:
  restic:
    image: mazzolino/restic
    container_name: restic
    hostname: restic_backup
    environment:
      - RUN_ON_STARTUP=true
      - BACKUP_CRON=0 */12 * * *
      - RESTIC_REPOSITORY=${RESTIC_REPO}
      - RESTIC_PASSWORD=${RESTIC_PASSWORD}
      - RESTIC_BACKUP_SOURCES=/mnt/volumes
      - RESTIC_COMPRESSION=auto
      - RESTIC_BACKUP_ARGS=--tag media_server --exclude log.* --exclude *.log --exclude *.db --exclude logs --exclude *.db-shm --exclude *.db-wal --verbose
      - RESTIC_FORGET_ARGS=--keep-last 10 --keep-daily 7 --keep-weekly 5 --keep-monthly 12
      - TZ=Asia/Kolkata
    volumes:
      - /configs:/mnt/volumes:ro
      - /home/druv/.ssh:/run/secrets/.ssh:ro
    restart: unless-stopped
    env_file:
      - .env
    security_opt:
      - no-new-privileges:true
  prune:
    image: mazzolino/restic
    container_name: restic_prune
    hostname: restic_backup
    restart: unless-stopped
    environment:
      - SKIP_INIT=true
      - RUN_ON_STARTUP=true
      - PRUNE_CRON=0 0 4 * * *
      - RESTIC_REPOSITORY=${RESTIC_REPO}
      - RESTIC_PASSWORD=${RESTIC_PASSWORD}
      - TZ=Asia/Kolkata
    env_file:
      - .env
    volumes:
      - /home/druv/.ssh:/run/secrets/.ssh:ro
  check:
    image: mazzolino/restic
    container_name: restic_check
    hostname: restic_backup
    restart: unless-stopped
    environment:
      - SKIP_INIT=true
      - RUN_ON_STARTUP=false
      - CHECK_CRON=0 15 5 * * *
      - RESTIC_CHECK_ARGS=--read-data-subset=10%
      - RESTIC_REPOSITORY=${RESTIC_REPO}
      - RESTIC_PASSWORD=${RESTIC_PASSWORD}
      - TZ=Asia/Kolkata
    env_file:
      - .env
    volumes:
      - /home/druv/.ssh:/run/secrets/.ssh:ro
  backrest:
    image: garethgeorge/backrest:latest
    container_name: backrest
    hostname: backrest
    network_mode: host
    volumes:
      - /configs/backrest/data:/data
      - /configs/backrest/config:/config
      - /configs/backrest/cache:/cache
      - ${BACKREST_REPO}:/repos
    environment:
      - BACKREST_DATA=/data
      - BACKREST_CONFIG=/config/config.json
      - XDG_CACHE_HOME=/cache
      - TMPDIR=/tmp
      - TZ=Asia/Kolkata
    ports:
      - 9898:9898
    restart: unless-stopped
