jellyfin.prinzpiuz.in {
    reverse_proxy http://druv:8096
    header_up Host {host}
    header_up X-Real-IP {remote_host}
    header_up X-Forwarded-For {remote_host}
    header_up X-Forwarded-Proto {scheme}
}
