blotils.prinzpiuz.in {
    reverse_proxy <tailscale_ip>:8000
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options SAMEORIGIN
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
}

jellyfin.prinzpiuz.in {
    reverse_proxy <tailscale_ip>:8096
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options SAMEORIGIN
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
}

timeline.prinzpiuz.in {
    reverse_proxy <tailscale_ip>:8086
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options SAMEORIGIN
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
}

pdftools.prinzpiuz.in {
    reverse_proxy <tailscale_ip>:8085
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options SAMEORIGIN
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
}
