###########################################
#       DAWARICH
##########################################

NETWORK_NAME=homelab
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=dawarich_db

DAWARICH_APP_PORT=8086
APPLICATION_HOSTS=*

DATABASE_HOST=dawarich_db
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=dawarich_development

TIME_ZONE=Asia/Kolkata
SECRET_KEY_BASE=your_secret_key_here

###########################################
#               WGER
##########################################

# Postgres
WGER_POSTGRES_USER=wger
WGER_POSTGRES_PASSWORD=your_secure_password_here
WGER_POSTGRES_DB=wger

# Django/wger settings
SECRET_KEY=your_random_secret_key_here
SIGNING_KEY=your_random_signing_key_here
TIME_ZONE=Asia/Kolkata

# Database connection
DJANGO_DB_ENGINE=django.db.backends.postgresql
DJANGO_DB_DATABASE=wger
DJANGO_DB_USER=wger
DJANGO_DB_PASSWORD=your_secure_password_here
DJANGO_DB_HOST=wger_db
DJANGO_DB_PORT=5432

# Cache
DJANGO_CACHE_BACKEND=django_redis.cache.RedisCache
DJANGO_CACHE_LOCATION=redis://wger_cache:6379/1

# Celery
CELERY_BROKER=redis://wger_cache:6379/2

# Site settings
SITE_URL=https://fitness.prinzpiuz.in
CSRF_TRUSTED_ORIGINS=https://fitness.prinzpiuz.in
DJANGO_ALLOWED_HOSTS=fitness.prinzpiuz.in,localhost,127.0.0.1


###########################################
#               BloTils
##########################################
BT_ENV=production
BT_BASE_URL=https://blotils.prinzpiuz.in
# Database
BT_DBLOCATION=./BloTils.db
# SMTP
BT_SMTP_HOST=smtp.mailgun.org
BT_SMTP_PORT=587
BT_SMTP_USERNAME=blotils@prinzpiuz.in
BT_SMTP_PASSWORD=<smtp password>
BT_SMTP_FROM=blotils@prinzpiuz.in
BT_SMTP_FROMNAME=BloTils

BT_SENTRY_DSN=
