name: arr Services
services:
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    pull_policy: always
    privileged: true
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - /configs/gluetun:/gluetun
    environment:
      - TZ=${TZ}
      - VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER}
      - VPN_TYPE=${VPN_TYPE}
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
      - SERVER_CITIES=${SERVER_CITIES}
      - UPDATER_PERIOD=24h
    restart: always
    ports:
      - 54509:54509
      - 54509:54509/udp
      - 51820:51820
      - 51820:51820/udp
      - 8080:8080 # qbittorrent
      - 9696:9696 # Prowlarr
      - 9117:9117 # Jackett
      - 5216:5216 # myspeed
      - 8000:8000 # gluetun
      - 5055:5055 # jellyseer
      - 6969:6969 # whisparr
    env_file:
      - .env
    networks:
      default:
        ipv4_address: ${GLUETUN_IPV4_ADDR}
  #TODO implement search plugins
  qbittorrent:
    image: ghcr.io/hotio/qbittorrent
    container_name: qbittorrent
    pull_policy: always
    restart: always
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=${TZ}
      - WEBUI_PORTS=8080/tcp,8080/udp
      - PRIVOXY_ENABLED=false
      - UNBOUND_ENABLED=false
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=1
    volumes:
      - /configs/qbit:/config
      - /data:/data
    network_mode: service:gluetun
    env_file:
      - .env
    depends_on:
      gluetun:
        condition: service_healthy
  radarr:
    image: ghcr.io/hotio/radarr:latest
    container_name: radarr
    pull_policy: always
    restart: unless-stopped
    logging:
      driver: json-file
    ports:
      - 7878:7878
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /configs/radarr:/config
      - /data:/data
    depends_on:
      - gluetun
    env_file:
      - .env
    networks:
      default:
        ipv4_address: ${RADARR_IPV4_ADDR}
  sonarr:
    image: ghcr.io/hotio/sonarr:latest
    container_name: sonarr
    pull_policy: always
    restart: unless-stopped
    logging:
      driver: json-file
    ports:
      - 8989:8989
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /configs/sonarr:/config
      - /data:/data
    depends_on:
      - gluetun
    env_file:
      - .env
    networks:
      default:
        ipv4_address: ${SONARR_IPV4_ADDR}
  synthwave:
    image: ghcr.io/pranavverma-droid/synthwave:latest
    container_name: synthwave
    restart: unless-stopped
    pull_policy: always
    ports:
      - 5000:5000
    volumes:
      - /data/media/music:/music
      - /data/media/music:/playlists
      - /configs/synthwave/config:/app/config
      - /configs/synthwave/logs:/app/logs
    environment:
      - TZ=${TZ}
      - FLASK_ENV=production
  swurApp:
    image: owlcaribou/swurapp
    container_name: sonarrWatchUntilRelease
    restart: unless-stopped
    pull_policy: always
    env_file:
      - .env
    environment:
      - API_KEY=${SONARR_API_KEY}
      - BASE_URL=http://${SONARR_IPV4_ADDR}:8989
      - DELAY_IN_MINUTES=60
      - IGNORE_TAG_NAME=ignore
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    pull_policy: always
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - TZ=${TZ}
    ports:
      - 8191:8191
    restart: unless-stopped
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    env_file:
      - .env
    networks:
      default:
        ipv4_address: ${FLARESOLVERR_IPV4_ADDR}
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    pull_policy: always
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - /configs/prowlarr:/config
    restart: always
    network_mode: service:gluetun
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    env_file:
      - .env
    depends_on:
      gluetun:
        condition: service_healthy
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
      - AUTO_UPDATE=true
    network_mode: service:gluetun
    volumes:
      - /configs/jackett:/config
      - /data:/downloads
    restart: always
    env_file:
      - .env
    depends_on:
      gluetun:
        condition: service_healthy
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:latest
    container_name: recyclarr
    pull_policy: always
    user: 1000:1000
    volumes:
      - /configs/recyclarr:/config
    restart: always
    environment:
      - CRON_SCHEDULE=* * * * *
      - TZ=${TZ}
    env_file:
      - .env
    networks:
      - ${NETWORK_NAME}
  bazarr:
    image: ghcr.io/hotio/bazarr:latest
    container_name: bazarr
    pull_policy: always
    restart: always
    logging:
      driver: json-file
    ports:
      - 6767:6767
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /configs/bazarr:/config
      - /data/media:/data/media
    depends_on:
      gluetun:
        condition: service_healthy
    env_file:
      - .env
    networks:
      default:
        ipv4_address: ${BAZARR_IPV4_ADDR}
  unpackerr:
    image: golift/unpackerr
    container_name: unpackerr
    pull_policy: always
    volumes:
      - /data:/downloads
    restart: always
    user: 1000:1000
    environment:
      - TZ=${TZ}
      - UN_LOG_FILE=/downloads/unpackerr.log
      - UN_SONARR_0_URL=http://${SONARR_IPV4_ADDR}:8989
      - UN_SONARR_0_API_KEY=${SONARR_API_KEY}
      - UN_RADARR_0_URL=http://${RADARR_IPV4_ADDR}:7878
      - UN_RADARR_0_API_KEY=${RADARR_API_KEY}
    security_opt:
      - no-new-privileges:true
    env_file:
      - .env
    networks:
      - ${NETWORK_NAME}
networks:
  default:
    name: ${NETWORK_NAME}
    external: true
