on:
  push:
name: Pre-Merging checks
jobs:
  pre-commit:
    name: Run Pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v3
      - uses: subosito/flutter-action@v2
      - uses: pre-commit/action@v3.0.0
